
!core/
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.directory
.DocumentRevisions-V100
.DS_Store
.fseventsd
.idea
.lock-wscript
.LSOverride
.node_repl_history
.npm
.nyc_output
.sonarlint
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode/
*.apk
*.bz2
*.cab
*.gz
*.lnk
*.log
*.msi
*.msm
*.msp
*.part
*.pid
*.seed
*.tags
*.tar
*.tbz2
*.tgz
*.tgz
*.xz
*.zip
*~
$RECYCLE.BIN/
build.log
core
Desktop.ini
Icon
Network Trash Folder
pkg
pkg-*
src
Temporary Items
Thumbs.db
tmp